<li>
  <span class="created_at" data-exten = <%=Incoming.last.exten_number%> data-user_id = "4416" ><%= incoming.created_at.strftime("%H:%M") %></span>
  <%= incoming.cid_number %>
  <%= incoming.exten_number %>
</li>
